@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.h1 {
  font: Arial;
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: bold;
  color: #323245;
}

.h2 {
  font: Arial;
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: normal;
  color: #323245;
}

.h3 {
  font: Arial;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-transform: uppercase;
  font-weight: normal;
  color: #323245;
}

.h4 {
  font: Arial;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
  color: #46465A;
}

.h5 {
  font: Arial;
  font-size: .75rem;
  line-height: 1.125rem;
  text-transform: uppercase;
  font-weight: normal;
}

.card-title {
  font: Arial;
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: bold;
}

.body-large {
  font: Arial;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: normal;
  color: #46465A;
}

.body-small {
  font: Arial;
  font-size: .875rem;
  line-height: 1.125rem;
  font-weight: normal;
  color: #46465A;
}

.page-gradient {
  background: linear-gradient(180deg, rgba(245,246,250,1) 0%, rgba(255,255,255,1) 100%);
}

#menu-toggle:checked + #menu {
  display: block;
}

.landing-with-menu {
  height: calc(100vh - 60px);
}

@media(min-height: 880px) {
  .description-with-wizard {
    height: calc(100vh - 320px);
  }
}

.body-container {
  min-height: calc(100vh - 597px);
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='gray' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

.form-checkbox:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='gray' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.707 7.293a1 1 0 0 0-1.414 1.414l2 2a1 1 0 0 0 1.414 0l4-4a1 1 0 0 0-1.414-1.414L7 8.586 5.707 7.293z'/%3e%3c/svg%3e");
}

.card-link:hover {
  cursor: pointer;
  border: 2px solid #fab230;
}

.card-link-text:hover {
  color: #fab230;
}

.infinite-scroll-default-height {
  min-height: 50vh;
}

.gradient-text {
  background: -webkit-linear-gradient(180deg, #fff, #757575);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.product-card-header, .playbook-card-header {
  min-height: 33px;
}

@media(max-width: 880px) {
  .wizard-scroll {
    overflow-y: scroll;
  }
}

.highlight-link a {
  color: #fab230;
}

[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  height: 10px;
  width: 10px;
  cursor: pointer;
  background-image: url('/icons/close.svg');
  background-size: 10px 10px;
}

.bg-edit {
  background-color: #f7fcff;
}

.repository-progress-padding {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.wizard-progress-line {
  width: calc(100% - 1.5rem - 1rem);
  top: 50%;
  transform: translate(-50%, -50%);
}

.wizard-progress-padding {
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}
.wizard-progress-padding-complete {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

@layer components {
  /* native HTML inputs */
  input,
  input[type]:not(.react-select__input) {
    @apply border-0;
    @apply text-lg;
    @apply text-dial-gray-dark;
    @apply shadow-md;
    @apply rounded-md;
    @apply outline;
    @apply outline-1;
    @apply outline-offset-0;
    @apply placeholder-dial-gray;
    @apply pl-3;
    @apply py-2;
    @apply disabled:outline-button-gray-light;
    @apply disabled:text-button-gray-light;
  }

  input:not(.validation-error) {
    @apply outline-button-gray;
  }

  input.validation-error {
    @apply outline-validation-error;
  }

  input:focus,
  input[type]:focus {
    @apply outline;
    @apply outline-offset-0;
    @apply outline-[3px];
    @apply outline-dial-blue;
    @apply ring-0;
  }

  /* native HTML button */
  button[type='button'] {
    @apply rounded-md;
    @apply text-white;
  }

  button:focus,
  button:focus-visible {
    @apply outline-none;
    @apply ring-[3px];
    @apply ring-dial-blue;
    @apply ring-offset-2;
  }

  /* TinyMCE HTML editor - textarea */
  .htmlEditor .tox-tinymce {
    @apply border-0;
    @apply outline;
    @apply outline-1;
    @apply outline-offset-0;
    @apply outline-button-gray;
    @apply shadow-md;
    @apply rounded-md;
  }

  .htmlEditor .tox-tinymce.focused,
  .htmlEditor.validation-error .tox-tinymce.focused {
    @apply outline-offset-0;
    @apply outline-[3px];
    @apply outline-dial-blue;
  }

  .htmlEditor.validation-error .tox-tinymce {
    @apply outline-validation-error;
  }

  /* CommentsSection - wrapper */
  #comments-section {
    @apply pt-20;
  }

  #comments-section .overlay {
    @apply p-0;
    @apply font;
  }

  .overlay .advanced-overlay {
    @apply mb-0;
  }

  .overlay .comment-title {
    @apply font;
    @apply text-xl;
    @apply text-dial-gray-dark;
  }

  /* CommentsSection - no comments */
  .overlay .no-comDiv {
    @apply font-normal;
  }

  .overlay .signBox .signLine {
    @apply font-normal;
    @apply m-0;
  }

  .overlay .signBox {
    @apply mt-3;
    @apply p-3;
    @apply items-center;
  }

  .overlay .signBox button {
    @apply py-2;
    @apply px-5;
    @apply border-0;
    @apply rounded-md;
    @apply text-white;
    @apply text-xl;
    @apply hover:border-0;
    @apply font;
    @apply font-normal;
  }

  .overlay button.loginBtn,
  .overlay button.signBtn {
    @apply bg-dial-blue;
    @apply disabled:bg-dial-gray;
    @apply hover:bg-dial-blue;
    @apply hover:text-white;
  }

  /* CommentsSection - text input */
  .form .advanced-border {
    @apply border-0;
    @apply text-lg;
    @apply text-dial-gray-dark;
    @apply shadow-md;
    @apply rounded-md;
    @apply outline;
    @apply outline-1;
    @apply outline-offset-0;
  }

  .form .public-DraftEditorPlaceholder-root {
    @apply text-dial-gray;
  }

  .form .public-DraftStyleDefault-block {
    @apply m-0;
  }

  .form .advanced-border.focused {
    @apply outline;
    @apply outline-offset-0;
    @apply outline-[3px];
    @apply outline-dial-blue;
  }

  /* CommentsSection - Post and Cancel buttons */
  .form .advanced-btns {
    @apply mt-3;
  }

  .form .advanced-btns {
    @apply flex-row-reverse;
    @apply gap-3;
  }

  .form .advanced-btns button {
    @apply flex;
    @apply items-center;
    @apply py-2;
    @apply px-5;
    @apply border-0;
    @apply rounded-md;
    @apply text-white;
    @apply text-xl;
    @apply disabled:cursor-not-allowed;
    @apply hover:border-0;
    @apply font;
    @apply font-normal;
  }

  .form .advanced-btns button.advanced-post {
    @apply bg-dial-blue;
    @apply disabled:bg-dial-gray;
  }

  .form .advanced-btns button.advanced-cancel {
    @apply bg-button-gray-light;
    @apply mr-0;
  }

  /* CommentsSection - Edit and Delete buttons */
  #comments-section .overlay .userActions .szh-menu__item {
    @apply capitalize;
  }
}

@layer utilities {
  .required-field::after {
    content: '*';
  }

  .form-field-label {
    @apply text-xl;
    @apply text-dial-blue;
  }

  .form-field-wrapper {
    @apply flex;
    @apply flex-col;
    @apply gap-y-2;
    @apply mb-2;
  }

  button.submit-button {
    @apply flex;
    @apply items-center;
    @apply py-2;
    @apply px-5;
    @apply rounded-md;
    @apply bg-dial-blue;
    @apply text-white;
    @apply disabled:bg-dial-gray;
  }

  button.cancel-button,
  button.close-button {
    @apply flex;
    @apply items-center;
    @apply py-2;
    @apply px-5;
    @apply rounded-md;
    @apply bg-button-gray-light;
    @apply text-white;
    @apply disabled:opacity-50;
  }

  button.delete-button {
    @apply flex;
    @apply items-center;
    @apply py-1;
    @apply px-2;
    @apply rounded-md;
    @apply bg-button-red;
    @apply text-white;
    @apply focus:outline-button-red;
    @apply focus:ring-button-red
  }

  .create-button {
    @apply inline-flex;
    @apply items-center;
    @apply py-1;
    @apply px-2;
    @apply rounded-md;
    @apply bg-dial-blue;
    @apply text-white;
  }

  button.create-button {
    @apply bg-dial-blue;
    @apply focus:bg-dial-blue;
  }
}
