.marker-pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #c30b82;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -15px 0 0 -15px;
}

.marker-pin::after {
  content: '';
  width: 24px;
  height: 24px;
  margin: 3px 0 0 3px;
  background: #fff;
  position: absolute;
  border-radius: 50%;
}

.custom-div-icon img {
  position: absolute;
  width: 1rem;
  left: 0;
  right: 0;
  top: 2px;
  margin: 10px auto;
  text-align: center;
}

/* Overriding default leaflet styling for popup */
.leaflet-popup-content {
  min-width: 32ch !important;
  margin: 0.75rem !important;
  line-height: 1rem !important;
}

